@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,p {
    padding: 0;
}
.attribution {
    font-size : 11px;
    text-align : center;
    margin-top : 20px;
}
.attribution a {
    color : hsl(228 45% 44%);
}
body{
    display: grid;
    place-items: center;
    margin:auto;
    height: fit-content;
    gap: 16px;
    background: hsl(0, 0%, 95%)
}
.container{
    width: 90rem;
    height: 52rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 95%);
}
.Cars{
    display: flex;
    align-items: flex-start;
    border-radius: 0.5rem;
    width: 57.188rem;
}
.columns{
    display: flex;
    flex-direction: column;
    padding: 3.125rem;
    gap: 5rem;
    align-items: start;
}
.description p{
    color: hsla(0, 0%, 100%, 0.75);
}
.description{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.description img{
    width: 4rem;
    height: 2.5rem;
}
.btn{
    outline: 0;
    border: 0;
    width: 9.375rem;
    border-radius: 2rem;
    padding: 15px 0;
    font-family: "Lexend Deca";
    font-size: 15px;
    height:50px;
}
.btn:active{
    text-align: center;
    background: none;
    border:1.5px solid hsl(0, 0%, 95%) ;
    color:hsl(0, 0%, 95%) ;
    cursor: pointer;
}
.btn-sedans{
    color:hsl(31, 77%, 52%) ;
}
.btn-suvs{
    color: hsl(184, 100%, 22%);
}
.btn-luxury{
    color: hsl(179, 100%, 13%);
}
.carBrand{
    font-family: "Big Shoulders Display";
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.5rem;
    color: hsl(0, 0%, 95%);
}
.sedans{
  background: hsl(31, 77%, 52%);
  border-radius: 0.5rem 0 0 0.5rem;
}
.suv{
    background:hsl(184, 100%, 22%) ;
}
.luxury{
    background: hsl(179, 100%, 13%);
  border-radius: 0 0.5rem 0.5rem 0;

}
.description p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Lexend Deca";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px; 
}
/*media queries for mobile screen*/
@media screen and (max-width: 26.88rem) {
    body{
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .container{
        width: 24rem;
        background:  hsl(0, 0%, 95%);
        /*border: 0.375rem solid #69958E;*/ /* uncomment to show borders*/
        border-radius: 1rem;
        padding:3.125rem 1.5rem;
    
    
    }
    .Cars{
        display: inline-flex;
        flex-direction: column;
        overflow-y: auto; /* Enable vertical scrolling */
        -webkit-overflow-scrolling: touch; /* Enable smooth touch scrolling for iOS */
        touch-action: pan-y; /* Allow vertical panning (swiping) */
        border-radius: 0.5rem;
        width: 20.44rem;
    }
    .columns{
        padding:3.12rem;
    
    }
    .description{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }
    .description img{
        width: 4rem;
        height: 2.5rem;
    }
    .btn{
        margin-top:1.88rem;
        outline: 0;
        border: 0;
        width: 9.375rem;
        border-radius: 2rem;
        padding: 15px 0;
        font-family: "Lexend Deca";
        font-size: 15px;
        height:50px;
    }
    .sedans{
        border-radius: 0.5rem 0.5rem 0 0;
    }
      .luxury{
      border-radius: 0 0 0.5rem 0.5rem;
    
    }
}